* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

#menu-boxes {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	z-index: 999;
	display: flex;
	flex-direction: column;
	min-width: 350px;
	background: none;
	box-shadow: none;
	border-radius: 0;
	padding: 0;
}
.menu-box {
	margin-bottom: 32px;
	max-width: 100%;
	border-radius: 8px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.48);
	padding: 12px 0;
}
.menu-box h3 {
	margin: 0 0 15px 0;
	padding-left: 10px;
	font-size: 40px;
	color: #222;
}
.menu-box ul {
	padding-left: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
    font-size: 30px;
}
.menu-box li {
	padding: 8px 0;
	padding-left: 10px;
	color: #333;
	border-bottom: 1px solid #eee;
}
.menu-box li:last-child {
	border-bottom: none;
}

.menu-box li:hover {
	background: rgb(206, 202, 202);
	color: #333;
	border-radius: 8px;
	transition: background 0.2s;
}