* { box-sizing: border-box; font-family: "Plus Jakarta Sans", sans-serif; margin:0; padding:0; }

body { 
    background-color:#ffffff;
 }

.screen { 
    width:85%; margin:20px auto;
    display: flex;
    justify-content: center;
 }

.section { 
    background-color: #f7f7f7;
    border-radius:10px; 
    padding:15px; 
    width: 600px;
}

iframe { width:100%; height:90vh; border-radius:8px; border:0; }

/* Alte Bottom Navigation */
.bottom-nav {
    position: fixed; bottom:0; width:100%;
    display:flex; justify-content:space-around;
    background:#fff; border-top:1px solid #ccc; padding:10px 0;
}
.bottom-nav button { background:none; border:none; font-size:16px; cursor:pointer; }
.bottom-nav .active { font-weight:bold; }
