.burger {
    width: 75px;
    height: 75px;
    background-color: rgb(118, 118, 118);
    position: absolute;
    border-radius: 25px;
    margin: 5px;
}

.screen {
    margin: auto auto;
    vertical-align:middle;
    width: 85%;
}

.flexbox {
    display: flex;
}


.section{
    width: 50%;
    height: 90vh;
    background-color: rgb(206, 202, 202);
    border-radius: 10px;
    padding: 15px 15px;
    margin: 5px;
}

.block {
    width: 100%;
    height: 45%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.qrCode{
    height: 30%;
}

.questions {
    height:93%; 
}

.sidebar{
    width: 20%;
}

.verticalFlex{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}


.button {
    width:100%;
    height: 60px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.members{
    width:100%;
    height: 180px;
    background-color: rgb(135, 135, 135);
    border-radius: 5px;
    margin-bottom: 20px;

}

.button.button--fill {
    display: flex;
    min-height: 48px;
    align-items: stretch;
}
.button.button--fill > button {
    width: 100%;
    height: 100%;
    padding: 12px 14px;
    font-size: 16px;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
}

/* participant counter style */
.members { display: block; }
.members .participant {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #fff;
    padding: 6px 8px;
    background: transparent;
    width: 100%; /* fill the parent .members box */
    box-sizing: border-box;
    justify-content: center;
}
.participant svg { display:block; width:28px; height:28px; }
.participant svg path { fill: #fff !important; }
.participant #participantCount { font-weight: 700; color: #fff; font-size: 18px; }
