
body {
  margin: 0;
  padding-bottom: 60px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav button {
  background: none;
  border: none;
  color: #dbdbdb;
  font-size: 16px;
  padding: 10px;
}

.bottom-nav button.active {
  color: #91c6ff;
  border-top: 3px solid #91c6ff;
}
