.questions-container {
    width: 90%;              
    max-width: 600px;       
    height: 80vh;          
    margin: 20px auto;
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.questions-container h1 {
    font-size: 30px;
    margin-bottom: 10px;

}

.p-desc {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.questions-list {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.question-card {
    background-color: #e6e6e6;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}

.question-card.answered {
    background-color: #e6f7e6;
    border-left: 6px solid #2ecc71;
}

.question-meta {
    font-size: 12px;
    color: #555;
    margin: 0;
}

.question-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.question-actions {
    display: flex;
    gap: 8px;
}

.question-actions button {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.question-actions button:hover {
    background-color: #d2d2d2;
}

.question-input-area {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.input-question {
    flex: 1;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-submit {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.input-submit:hover {
    background-color: #0056b3;
}

.upvote.active,
.downvote.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
}

.upvote:disabled,
.downvote:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.dropdown-filter {
  margin-bottom: 20px;
  margin-left: 10px;
  max-width: 300px;
  padding: 2px;
  border-radius: 3px;
  border-color: #808080;
}


