
body {
  margin: 0;
  padding-bottom: 60px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom-nav button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 16px;
  padding: 10px;
}

.bottom-nav button.active {
  color: #00ffcc;
  border-top: 3px solid #00ffcc;
}
