body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(79, 99, 143);
}
.main-title {
  font-size: 10rem;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 97%;
  text-align: center;
  color: white;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}
.input-container input[type="text"] {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-sizing: border-box;
}
.button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.button-row button {
  flex: 1;
  padding: 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}
.button-row button.create {
  background: #369539;
  color: #fff;
  margin-right: 0.5rem;
}
.button-row button.join {
  background: rgb(255, 255, 255);;
  color: #202020;
  margin-left: 0.5rem;
}
.button-row button.create:hover {
  background: #234b25d9;
}
.button-row button.join:hover {
  background: rgb(60, 75, 109);
}
